@charset "utf-8";
/* CSS Document */

/*font-family: 'Oxygen', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Montserrat', sans-serif;
*/

body, ul, li, h1, h2, h3, h4, h5, h6{
    margin:0;
    padding:0;
    border:0;
}

.Wavesmain {
    width: 100%;
}

.WaveHeader {
   
}

.Headerbackgroundimg {
    height: 100vh;
    background-image: url(WavesFlowing.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

/*<---------------- Header Nav -------------------->*/

.HeaderNav {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 60px;
    color: black;
    height: 25vh;
    padding-top: 25vh;
}

.HeaderNav hr {
    margin-left: 10%;
    margin-right: 10%;
    border : 0;
    height: 2px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.HeaderNav ul{
    list-style:none;
    padding-top: 10px;
}

.HeaderNav ul li{
    display:inline-block;
}

.HeaderNav a:link, a:visited {
    font-size: 40px;
    color: black;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}

.HeaderNav a:hover {
    color: #3095A2;
}

/*<---------------- Header Nav -------------------->*/

.WaveNav hr {
    margin-left: 10%;
    margin-right: 10%;
    border : 0;
    height: 2px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.WaveBody {
    margin-left: 6%;
    margin-right: 6%;
    font-family: 'Oxygen', sans-serif;
}

/*<---------------- AWave -------------------->*/

.AWave h1 {
    padding-top: 25px;
    font-size: 50px;
}

.AWave h3 {
    padding-top: 5px;
}

.AWave hr {
    margin-left: 10%;
    margin-right: 10%;
    border : 0;
    height: 2px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.Rightalign {
    float: right;
    text-align: right;
    width: 100%;
}

/*<---------------- AWave -------------------->*/


/*<---------------- Sound -------------------->*/

.SoundWave h1 {
    padding-top: 25px;
    font-size: 50px;
}

.SoundWave h3 {
    padding-top: 5px;
}

.SoundWave hr {
    margin-left: 10%;
    margin-right: 10%;
    border : 0;
    height: 2px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*<---------------- Sound -------------------->*/

/*<---------------- Light -------------------->*/

.Light h1 {
    padding-top: 25px;
    font-size: 50px;
}

.Light h3 {
    padding-top: 5px;
}

.Light hr {
    margin-left: 10%;
    margin-right: 10%;
    border : 0;
    height: 2px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*<---------------- Light -------------------->*/


/*<---------------- Footer -------------------->*/

.WaveFooter {
    height: 15vh;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

.WaveFooter h3{
    font-size: 25px;
}

.WaveFooter hr {
    margin-left: 10%;
    margin-right: 10%;
    border : 0;
    height: 2px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*<---------------- Footer -------------------->*/